.home,
.main {
    font-family: "Trebuchet MS", sans-serif;
}

p,
li,
.link,
.home,
.main-link{
    font-size: 16px;
}

p,
li,
.main-link {
    font-family: "Verdana", sans-serif;
}

.home {
    font-weight: 700;
}

img {
    width: 500px;
    height: auto;
}

.link,
.index {
    text-align:center;
}



